body {
	background-color: #2e2e30;
}
.body {
	margin: 0 130px;
}
section {
	background-color: #fff;
}
a.category {
	background-color: #e77d03;
	color: #fff;
	padding: 3px 5px;
	border-radius: 3px;
	text-decoration: none;
	width: 120px;
}
ul {
	list-style-type: none;
}

img {
	width: 340px;
}

.lineList li {
	display: inline;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 0;
}
nav .lineList {
	display: flex;
	justify-content: space-around;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 620px 135px 415px 410px 415px 70px;
	grid-gap: 30px;
}

nav {
	background-color: #373739;
	height: 70px;
	width: 500px;
	margin: 35px 0;
}

.block1 {
	background-color: black;
	color: #fff;
	grid-column:1/4;
	grid-row: 1;
}

.block1_inside {
	margin-top: 200px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}

.block1_inside .button1 {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border-style: solid;
	border-radius: 20px;
	border-width: 1px;
	width: 100px;
}

.block1 .category {
	order: -1;
}

.block2 {
	background-color: #fff;
	grid-column:1/4;
	display: flex;
	justify-content: flex-start;
	grid-row: 2;
}

.block2 div {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.block2 div a {
	margin: 10px; 
} 

.block2_1 {
	background-color: #4b77bd;
}

.block3 {
	background-color: #373739;
	color: #fff;
	grid-column: 1;
	grid-row: 3;
	display: flex;
	flex-direction: column;
	position: relative;
}

.block3 img {
	order: -1;
	width: 100%;
}

.block3 .category {
	top: 35px; 
	left: 35px;
	position: absolute;
	z-index: 2;
}

.block3 h2 {
	margin: 0 35px;
	bottom: 100px; 
	position: absolute;
}

.block3 p {
	margin: 0 35px;
	bottom: 50px; 
	position: absolute;
}

.block3 div {
	margin: 0 35px;
	bottom: 10px; 
	position: absolute;
}

.block4 {
	grid-column: 2/4;
	grid-row: 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 100px);
	position: relative;
	grid-gap: 0 70px;
}

.block4 .category {
	grid-column: 1;
	height: 20px;
	grid-row: 1;
	top: 35px;
	left: 35px;
	position: absolute;
}

.block4 h2 {
	grid-column: 1/3;
	grid-row: 2;
	left: 35px;
	position: absolute;
}

.block4 p {
	grid-column: 1/3;
	grid-row: 3;
	left: 35px;
	position: absolute;
}

.block4 img {
	grid-column: 3;
	width: 250px;
	grid-row: 2/4;
	position: absolute;
	right: 30px;
}

.block4 div {
	grid-column: 1/3;
	grid-row: 4;
	left: 35px;
	top: 50px;
	position: absolute;
}

.block5 {
	grid-column: 1;
	grid-row: 4;
	display: flex;
	flex-direction: column;
	position: relative;
}

.block5 img {
	order: -1;
	width: 100%;
}

.block5 .category {
	top: 35px; 
	left: 35px;
	position: absolute;
}

.block5 h2 {
	margin: 0 35px;
	bottom: 100px; 
	position: absolute;
}

.block5 p {
	margin: 0 35px;
	bottom: 50px; 
	position: absolute;
}

.block5 div {
	margin: 0 35px;
	bottom: 10px; 
	position: absolute;
}

.block6 {
	grid-column: 2;
	grid-row: 4;
	display: flex;
	flex-direction: column;
	position: relative;
}

.block6 img {
	order: -1;
	width: 100%;
}

.block6 .category {
	top: 35px; 
	left: 35px;
	position: absolute;
}

.block6 h2 {
	margin: 0 35px;
	bottom: 100px; 
	position: absolute;
}

.block6 p {
	margin: 0 35px;
	bottom: 50px; 
	position: absolute;
}

.block6 div {
	margin: 0 35px;
	bottom: 10px; 
	position: absolute;
}

.block7 {
	grid-column: 3;
	grid-row: 4;
	position: relative;
}

.block7 h2 {
	top: 100px;
	text-align: center;
	position: absolute;
}

.block7 p {
	top: 250px;
	text-align: center;
	position: absolute;
	margin: 0 50px;
}

.block7 .category {
	top: 35px; 
	left: 35px;
	position: absolute;
	z-index: 2;
}

.block7 div {
	margin: 0 35px;
	bottom: 10px; 
	position: absolute;
}

.block8 {
	grid-column: 1;
	grid-row: 5;
	display: flex;
	flex-direction: column;
	position: relative;
}

.block8 .category {
	top: 180px; 
	left: 35px;
	position: absolute;

}

.block8 h2 {
	margin: 0 35px;
	top: 210px; 
	position: absolute;
}

.block8 div {
	margin: 0 35px;
	bottom: 10px; 
	position: absolute;
}

.block9 {
	grid-column: 2/4;
	grid-row: 5;
}

aside section {
	padding: 10px;
}

.block9 .Block{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	padding: 30px;
}

.block9 .Block a {
	padding: 0 10px;
}

.nameOfSidebar {
	background-color: #fff;
	padding: 20px;
}

.activeBlock {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
}

.activeBlockText {
	grid-column: 1/3;
}

.activeBlock img {
	grid-column: 3;
	height: 145px;
	width: 100%;
}

button {
	grid-row: 6;
	grid-column: 1/4;
}

footer {
	display: flex;
	justify-content: space-between;
	color: #fff;
}

